# This is a basic workflow to help you get started with Actions

name: CI_PULLREQUEST

# Controls when the action will run. Triggers the workflow on pull request
# events but only for the master branch
on:
  pull_request:
    branches: 
      - master
      - release/**
    paths-ignore:
      - 'docs/**'

concurrency:
  group: '${{ github.workflow }} @ ${{ github.event.pull_request.head.label || github.head_ref || github.ref }}'
  cancel-in-progress: true

env:
  MAVEN_RELEASE: 3.9.11

jobs:
  # Verify if a build is needed
  check_changes:
    name: Check changed files
    outputs:
      run_build_windows: ${{ steps.check_files.outputs.run_build_windows }}
    runs-on: ubuntu-latest
    steps:
      - id: get_changed_files
        uses: masesgroup/retrieve-changed-files@v3
        with:
          format: 'csv'
      - id: check_files
        run: |
          mapfile -d ',' -t added_modified_files < <(printf '%s,' '${{ steps.get_changed_files.outputs.added_modified }}')
          for added_modified_file in "${added_modified_files[@]}"; do
              if [[ $added_modified_file == ".github/workflows/pullrequest.yaml"* ]]; then
                echo "$added_modified_file is myself."
                echo "run_build_windows=true" >> $GITHUB_OUTPUT
                break
              fi
              if [[ $added_modified_file == "src/container/"* ]]; then
                echo "$added_modified_file file is under the directory 'src/'."
                echo "run_build_windows=true" >> $GITHUB_OUTPUT
                break
              fi
              if [[ $added_modified_file == "src/jvm/"* ]]; then
                echo "$added_modified_file file is under the directory 'src/'."
                echo "run_build_windows=true" >> $GITHUB_OUTPUT
                break
              fi
              if [[ $added_modified_file == "src/net/"* ]]; then
                echo "$added_modified_file file is under the directory 'src/'."
                echo "run_build_windows=true" >> $GITHUB_OUTPUT
                break
              fi
              if [[ $added_modified_file == "tests/"* ]]; then
                echo "$added_modified_file file is under the directory 'src/'."
                echo "run_build_windows=true" >> $GITHUB_OUTPUT
                break
              fi
          done
      - name: Get run_build_windows
        run: echo "The selected run_build_windows is ${{ steps.check_files.outputs.run_build_windows }}"

  build_container_linux:
    needs: check_changes
    if: "always() && needs.check_changes.outputs.run_build_windows == 'true'"
    runs-on: ubuntu-latest
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:    
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v6
        with:
          fetch-depth: '1'
          submodules: 'true'

      - uses: actions/setup-dotnet@v5
        with:
          dotnet-version: |
            9.x
            10.x

      - uses: actions/cache/restore@v5
        id: cache
        with:
          lookup-only: true
          enableCrossOsArchive: true
          path: ./jars/
          key: Apache_Maven_${{ env.MAVEN_RELEASE }}

      - name: Download apache-maven-${{ env.MAVEN_RELEASE }}-bin
        if: steps.cache.outputs.cache-hit != 'true'
        run: wget https://dlcdn.apache.org/maven/maven-3/${{ env.MAVEN_RELEASE }}/binaries/apache-maven-${{ env.MAVEN_RELEASE }}-bin.zip

      - name: Expand apache-maven-${{ env.MAVEN_RELEASE }}-bin
        if: steps.cache.outputs.cache-hit != 'true'
        shell: pwsh
        run: Expand-Archive -LiteralPath '.\apache-maven-${{ env.MAVEN_RELEASE }}-bin.zip' -DestinationPath .\ -Force
    
      - name: Rename apache-maven-${{ env.MAVEN_RELEASE }}-bin
        if: steps.cache.outputs.cache-hit != 'true'
        shell: pwsh
        run: Rename-Item -path ".\apache-maven-${{ env.MAVEN_RELEASE }}" -NewName "jars"

      - name: Upload artifacts
        if: steps.cache.outputs.cache-hit != 'true'
        uses: actions/cache/save@v5
        with:
          enableCrossOsArchive: true
          key: Apache_Maven_${{ env.MAVEN_RELEASE }}
          path: ./jars/

      - uses: actions/cache/restore@v5
        if: steps.cache.outputs.cache-hit == 'true'
        with:
          enableCrossOsArchive: true
          path: ./jars/
          key: Apache_Maven_${{ env.MAVEN_RELEASE }}

      - uses: actions/setup-dotnet@v5
        with:
          dotnet-version: |
            9.x

      - name: Pre compile
        run: dotnet build --no-incremental --configuration Release /p:Platform="Any CPU" /p:NoWarn="0108%3B1030%3B0618" src/net/Naven/Naven.csproj
        env:
          GITHUB_SIMPLIFIED_GENERATION: true
          
      - name: Set up Apache Maven Central
        uses: actions/setup-java@v5
        with: # running setup-java again overwrites the settings.xml
          distribution: temurin
          java-version: 11
          cache: 'maven'
          server-id: ossrh # Value of the distributionManagement/repository/id field of the pom.xml
          server-username: MAVEN_USERNAME # env variable for username in deploy
          server-password: MAVEN_CENTRAL_TOKEN # env variable for token in deploy
          gpg-private-key: ${{ secrets.MAVEN_GPG_PRIVATE_KEY }} # Value of the GPG private key to import
          gpg-passphrase: MAVEN_GPG_PASSPHRASE # env variable for GPG private key passphrase

      - name: Create Jars
        run: mvn  "-DmavenSkipMain=true" --file ./src/jvm/naven/pom.xml --no-transfer-progress package
        env:
          MAVEN_USERNAME: ${{ secrets.MAVEN_USERNAME }}
          MAVEN_CENTRAL_TOKEN: ${{ secrets.MAVEN_CENTRAL_TOKEN }}
          MAVEN_GPG_PASSPHRASE: ${{ secrets.MAVEN_GPG_PASSPHRASE }}
        
      - name: Build Docker Image
        run: docker build -t naven -f ./src/container/Dockerfile.linux .

  # This workflow contains a single job called "build_release"
  build_pullrequest:
    needs: check_changes
    if: "always() && needs.check_changes.outputs.run_build_windows == 'true'"
    # The type of runner that the job will run on
    runs-on: windows-2022
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Runs a set of commands using the runners shell
      # Support longpaths
      - name: Support long paths
        run: git config --system core.longpaths true
      
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it                                                                                  
      - uses: actions/checkout@v6
        with:
          fetch-depth: '1'
          submodules: 'true'

      - uses: actions/setup-dotnet@v5
        with:
          dotnet-version: |
            9.x
            10.x

      - uses: actions/cache/restore@v5
        id: cache
        with:
          lookup-only: true
          enableCrossOsArchive: true
          path: ./jars/
          key: Apache_Maven_${{ env.MAVEN_RELEASE }}

      - name: Download apache-maven-${{ env.MAVEN_RELEASE }}-bin
        if: steps.cache.outputs.cache-hit != 'true'
        run: C:\msys64\usr\bin\wget.exe https://dlcdn.apache.org/maven/maven-3/${{ env.MAVEN_RELEASE }}/binaries/apache-maven-${{ env.MAVEN_RELEASE }}-bin.zip

      - name: Expand apache-maven-${{ env.MAVEN_RELEASE }}-bin
        if: steps.cache.outputs.cache-hit != 'true'
        run: Expand-Archive -LiteralPath '.\apache-maven-${{ env.MAVEN_RELEASE }}-bin.zip' -DestinationPath .\ -Force
    
      - name: Rename apache-maven-${{ env.MAVEN_RELEASE }}-bin
        if: steps.cache.outputs.cache-hit != 'true'
        run: Rename-Item -path ".\apache-maven-${{ env.MAVEN_RELEASE }}" -NewName "jars"

      - name: Upload artifacts
        if: steps.cache.outputs.cache-hit != 'true'
        uses: actions/cache/save@v5
        with:
          enableCrossOsArchive: true
          key: Apache_Maven_${{ env.MAVEN_RELEASE }}
          path: ./jars/

      - uses: actions/cache/restore@v5
        if: steps.cache.outputs.cache-hit == 'true'
        with:
          enableCrossOsArchive: true
          path: ./jars/
          key: Apache_Maven_${{ env.MAVEN_RELEASE }}

    #  - name: Pre compile tests
    #    run: dotnet build --no-incremental --configuration Release /p:Platform="Any CPU" /p:NoWarn="0108%3B1030%3B0618" tests\net\NavenTest.sln

      - name: Pre compile
        run: dotnet build --no-incremental --configuration Release /p:Platform="Any CPU" /p:NoWarn="0108%3B1030%3B0618" src\net\Naven\Naven.csproj
        env:
          GITHUB_SIMPLIFIED_GENERATION: true
          
      - name: Set up Apache Maven Central
        uses: actions/setup-java@v5
        with: # running setup-java again overwrites the settings.xml
          distribution: temurin
          java-version: 11
          cache: 'maven'
          server-id: ossrh # Value of the distributionManagement/repository/id field of the pom.xml
          server-username: MAVEN_USERNAME # env variable for username in deploy
          server-password: MAVEN_CENTRAL_TOKEN # env variable for token in deploy
          gpg-private-key: ${{ secrets.MAVEN_GPG_PRIVATE_KEY }} # Value of the GPG private key to import
          gpg-passphrase: MAVEN_GPG_PASSPHRASE # env variable for GPG private key passphrase

      - name: Create Jars
        run: mvn  "-DmavenSkipMain=true" --file ./src/jvm/naven/pom.xml --no-transfer-progress package
        env:
          MAVEN_USERNAME: ${{ secrets.MAVEN_USERNAME }}
          MAVEN_CENTRAL_TOKEN: ${{ secrets.MAVEN_CENTRAL_TOKEN }}
          MAVEN_GPG_PASSPHRASE: ${{ secrets.MAVEN_GPG_PASSPHRASE }}

      - name: Compile command line
        run: dotnet build --no-incremental --configuration Release /p:Platform="Any CPU" /p:NoWarn="0108%3B1030%3B0618" src\net\NavenCLI\NavenCLI.csproj

      - name: Compile NavenPS
        run: dotnet build --no-incremental --configuration Release /p:Platform="Any CPU" /p:NoWarn="0108%3B1030%3B0618" src\net\NavenPS\NavenPS.csproj

      - uses: nuget/setup-nuget@v2.0.1
        with:
          nuget-version: '5.x'
          
      - run: nuget pack src\net\NavenCLI\NavenCLI.nuspec -OutputDirectory .\bin

      - name: Prepare PowerShell package
        run: |
          Copy-Item .\src\net\NavenPS\MASES.NavenPS.psd1 -Destination .\MASES.NavenPS\MASES.NavenPS.psd1 -Force
          Copy-Item .\src\net\NavenPS\MASES.NavenPS.psm1 -Destination .\MASES.NavenPS\MASES.NavenPS.psm1 -Force
        shell: pwsh
     
      - name: Create PowerShell package
        run: |
          $env:DOTNET_CLI_UI_LANGUAGE="en_US"
          Register-PSRepository -Name Local_Nuget_Feed -SourceLocation $env:GITHUB_WORKSPACE\bin -PublishLocation $env:GITHUB_WORKSPACE\bin -InstallationPolicy Trusted
          Publish-Module -Path .\MASES.NavenPS -Repository Local_Nuget_Feed -NuGetApiKey 'ABC123'
        shell: pwsh

      - name: Recompile to create nuget packages
        run: dotnet build --no-incremental --configuration Release /p:Platform="Any CPU" /p:NoWarn="0108%3B1030%3B0618" src\net\Naven.sln